[submodule "qua-view"]
	path = apps/hs/qua-view
	url = https://github.com/achirkin/qua-view.git

[submodule "LUCI"]
        path = apps/java/luci2
        url = https://bitbucket.org/treyerl/luci2.git

